* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  height: 50px;
  align-items: center;
}
.result {
  display: flex;
  padding-top: 100px;
  justify-content: space-evenly;
}
.result--img {
  position: relative;
}
.form--input {
  height: 35px;
  width: 400px;
}
.result--chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: auto;
  height: 500px;
  width: 50%;
}
.divFace {
  position: absolute;
  border: 3px #00abec solid;
}
.gray {
  width: 150px;
  height: 20px;
  background-color: gray;
}
.colorDiv {
  background-color: red;
  height: 20px;
}
span {
  font-size: 1em;
  font-weight: bold;
}
.margin {
  margin-bottom: 20px;
}
.detect {
  width: 70px;
  margin-left: 20px;
}
.form {
  display: flex;
}
